<section class="hero py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 align-self-center">
                <h5><em>Are You Hungry?</em></h5>
                <h1 class="font-weight-bold">Don't Wait !</h1>
                <div class="orderButton">
                    <a href="#menu" class="mt-2 rounded-pill text-white btn order-button">Order
                        Now</a>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <img src="../../assets/hero-pizza.png" alt="pizza" class="mt-5 img-fluid">
            </div>
        </div>
    </div>
</section>
<app-menu id="menu"></app-menu>